<div class="container mt-5 text-center">
  <h1>Welcome#index</h1>
  <p>Find me in app/views/welcome/index.html.erb</p>

  <%= turbo_frame_tag "container" do %>
    <div>Hello</div>
  <% end %>

  <%= form_with url: start_process_path, method: :post do %>
    <%= button_tag 'Start Process' %>s
  <% end %>

</div>
